.bestSellerCard {
    max-width: 1300px;
    margin: 0 auto;
    &_header {
        max-width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            font-size: 36px;
            font-weight: 600;
        }

        button {
            background-color: #F65D4E;
            color: white;
            border: none;
            padding: 15px 30px;
            border-radius: 30px;
            font-weight: 500;
            font-size: 16px;
            cursor: pointer;
        }

        .line {
            height: 1px;
            background-color: lightgray;
            width: 45%;
        }
       
    }
    &_cardMain{
        display: flex;
         img{
            width: 200px;
            height: 270px;
        }
    }

}